@model IEnumerable<NAA.Data.BEANS.ApplicantBEAN>

@{
    ViewBag.Title = "Profiles";
}

<h2>Profiles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Details", "Profile", new { id = item.Id, Controller = "NAA" })
            @Html.ActionLink("Applications", "ReadOnlyApplications", new { applicantId = item.Id, Controller = "NAA" })
        </td>
    </tr>
}

</table>
