
@{
    ViewBag.Title = "AdminHome";
}

<h2>AdminHome</h2>
<p>USER ID = @ViewBag.userId</p>
@Html.ActionLink("Manage User Roles", "ManageUserRoles", new { Controller = "Admin" }) <br>
@Html.ActionLink("Create Role", "CreateRole", new { Controller = "Admin" }) <br>
@Html.ActionLink("Get Roles", "GetRoles", new { Controller = "Admin" }) <br>
@Html.ActionLink("Get Roles for User", "GetRolesForUser", new { Controller = "Admin" }) <br>
@Html.ActionLink("Get User", "GetUser", new { Controller = "Admin" }) <br>