
@{
    ViewBag.Title = "ApplicantHome";
}

<h2>ApplicantHome</h2>


@if (@ViewBag.NumberOfApplications > 0)
{
    @Html.ActionLink("Display Applications", "Applications", new { Controller = "NAA" }) <br>
}
@if (@ViewBag.NumberOfApplications < 5)
{
    @Html.ActionLink("Apply for a University", "DisplayUniversities", new { Controller = "NAAApplication" }) <br>
}
else
{
    <p>Application limit reached</p>
}
@Html.ActionLink("Display Profile", "PersonalProfile", new { Controller = "NAA" }) <br>
@Html.ActionLink("Edit Profile", "EditPersonalProfile", new { Controller = "NAAAdmin" }) <br>


